*
{
    box-sizing: border-box;
    list-style: none;
    

}

body{
 padding: 0;
 margin: 0;
 font-family:sans-serif;
 overflow-x: hidden;
}


.nav {

   background-color: #ffffffb5;
   border: 1px solid rgb(221, 221, 221);
  padding: 5px;
  flex-wrap: wrap;


}
.nav ul
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.nav ul li a {
 color: #000000;
 text-decoration: none;
 font-size: 20px;


}
.nav ul li a:hover
{
    color: #8758ff;
}
.nav img
{
    mix-blend-mode: multiply;
    position: relative;
    left: 0px;
}
.div_head
{
   flex-wrap: wrap;
   width: 50%;

   
  }
  #search
  {
    border: .5px solid #a886ff85;
    position: relative;
    right: 87px;
    width: 100px;
    height: 53px;
    background-color: #8758ff;
    border-radius: 0px 5px 5px 0px;
    color: white;
  
   
  }

  .div_head input
  {
    border: .5px solid #a886ff85;
    width: 100%;
    padding: 10px;
    border-radius: 5px 0px 0px 5px ;
    background-color: #ffffff;
    outline: none;

   
  }



 .nav-logo {
    background-color: transparent;

 }
 .icon
 {
    width: 5%;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 30px;
 }

 .button-1
 {
    margin-top: 10px;

 }
 .button-1 button
 {

    cursor: pointer;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    color: rgb(255, 255, 255) ;
    background-color:#8758ff;
   border: none;
   position: relative;
   left: 0px;
   transition: all 0.2s ease;
   
 }
 .button-1:active{
    transform: scale(0.96);
 }

 body button:hover
 {
    background-color: #f2f2f2;
    color: #8758ff;
    border: 0.5px solid #8758ff;
 }
 .container
 {
   
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    }

.con-1
{
    width: 55%;
    padding: 0 0 0 26px;
   
}
.con-1 h1
{
    color:#000000;
    font-size: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    line-height: 130px;
    top: 10px;
  
}
#mm::before {
    content: 'S';
font-size: 180px;

}

.con-1 p
{
    color: black;
    position: relative;
 left: 10px;
    line-height: 30px;
    font-size: 25px;
    
}
.con-2
{
    width: 45%;
    height: 100%;
    padding: 0px;
    flex-wrap: wrap;
}

.box
{
    height: 50%;
    margin-top: 35px;

    
}
.box img
{
    border-radius: 10px;
  
}

.con-2 img
{
    border-radius: 10px;
    margin-top: 25px;
    /* mix-blend-mode: multiply; */

   
  }
    

.con-2 img:hover
{
    transition: 0.8s ease;
    transform: scale(1.02);
}
.but button
{
    padding: 10px;
    width: 100px;
    background-color:#8758ff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 10px;
    
}

.button-2 
{
    padding: 20px;
    justify-content:center;
    display: flex;
   
}
.button-2 button
{
    background: transparent;
    background-color:rgba(54, 54, 54, 0.598);
    color: white;
    border: 1px solid rgb(35, 35, 35);
    border-radius: 20px;
    padding: 10px;
    width: 150px;
}

.con-3

{
    border: .5px solid rgb(206, 206, 206);
    flex-wrap: wrap;
margin-top:30px; 
padding: 0px;

}
#shoes
{
    position: relative;
    left: 70px;
}
#cap
{
 
    position: relative;
    left: 30px;   
}
#wo{
    position: relative;
    right: 30px;   
}
#men{
    position: relative;
    right: 60px;   
}
.nav-2
{
 
  display: flex;
  justify-content:space-between;
border-radius: 5px;
  padding: 10px;
  align-items: center;

}
.nav-2 button
{
    width: 150px;
    padding: 10px;
    border-radius:5px;
    border: 1px solid #c7c7c7;
    background-color: #dfdfdf;
    color: #8758ff;
}
.nav-2 button:hover
{
    
    color: #8758ff;
}
.box-1
{
    border: .5px solid rgb(223, 223, 223);
    flex-wrap: wrap;
    padding: 0px;
    display: flex;
    background-color: rgba(227, 227, 227, 0.601);
}
.img-box
{
    /* border: 2px solid black; */
    width: 20%;
    height: 100%;
    flex-wrap: wrap;
    padding: 20px;
    
}
/* .img-box img 
{
    width: 100%;
} */
.img-box img:hover{
transform: scale(1.06);
transition: 0.6s ease;

}
.box-2
{
    height: 50%;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    margin-top: 20px;
}

.con-4
{
    /* border: 2px solid black; */
    flex-wrap: wrap;
    padding: 20px;
    display: flex;   
}
.navi
{
    width: 100%;
    
}

.con-5
{
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
}

.con-6
{
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
}

.img-a3
{
    /* border: 2px solid black; */
    height: 100%;
    width: 25%;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}
.img-a3 img:hover{
   
    transform: scale(1.06);
    transition: 0.6s ease; 
}
.img-a3 img
{
/* width: 90%; */
/* height: 50%; */

}
.img-a2
{
    /* border: 2px solid black; */
    height: 100%;
    width: 25%;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}
.img-a2 img:hover
{
    transform: scale(1.06);
    transition: 0.6s ease;
}
.img-a1
{
    /* border: 2px solid black; */
    height: 100%;
    width: 25%;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}

.img-a1 img:hover
{
    transform: scale(1.06);
    transition: 0.6s ease;
}
.img-a1 img
{
    mix-blend-mode: multiply;
}
.img-a2 img
{
    mix-blend-mode: multiply;
}

.img-a3 img
{
    mix-blend-mode: multiply;
}
.img-a4 img
{
    mix-blend-mode: multiply;
}
.img-a4
{
    /* border: 2px solid black; */
    height: 100%;
    width: 25%;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 20px;
}
.img-a4 img:hover
{
    
    transform: scale(1.06);
    transition: 0.6s ease;
}

.img-a3 img
{
    margin-top: 7px;
}
.img-a2 h4
{
margin-top: 25px;
}

#add
{
    margin-top: 40px;
}
#leptop
{
    margin-top: 25px;
}
.con-4 button
{
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ffffff;
    background-color: #dfdfdf;
    color: #8758ff;
    border-radius: 50px;
    cursor: pointer;
    width: 35%;
    border:.5px solid #8758ff;
    
   
}

.con-4 button:hover
{
   background-color:#8758ff;
   color: white;
   border: none;
}
/* con-4 start here*/

.img-box-2
{
    width: 20%;
    height: 100%;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgba(227, 227, 227, 0.601);
    text-align: center;
    margin-top: 20px;
}
.img-box-2 img:hover
{
    transform: scale(1.06);
    transition: 0.6s ease;
}


/* con-4 end here*/

.con-7
{


    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.img-box-3
{
    border: 1px solid #ffffff;
    background-color:#d61355;
    color: white;
    width: 15%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}

.img-box-3:hover
{
    background-color: #f94a29;
    color: white;
}
.img-box-3,h2,h5
{
    margin: 5px;
}
.con-8
{
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.img-box-4

{
    border: 1px solid  rgb(163, 163, 163);
    width: 23.5%;
    border-radius: 5px;
    background-color:#FFB84C;
    
}
.img-box-4:hover
{
   
    transform: scale(1.06);
    transition: 0.6s ease;
}
.img-box-5:hover
{
   
    transform: scale(1.06);
    transition: 0.6s ease;
}
.img-box-6:hover
{
   
    transform: scale(1.06);
    transition: 0.6s ease;
}
.img-box-7:hover
{
   
    transform: scale(1.06);
    transition: 0.6s ease;
}
.img-box-4 img
{
    margin-top: 6px;
}
.img-box-5 img
{
    margin-top: 6px;
}
.img-box-6 img
{
    margin-top: 6px;
}


.img-box-5

{
    border: 1px solid  rgb(163, 163, 163);
    width: 23.5%;
    border-radius: 5px;
    background-color:#F266AB;
    
}

.img-box-6

{
    border: 1px solid  rgb(163, 163, 163);
    width: 23.5%;
    border-radius: 5px;
    background-color:#A459D1;
    
}

.img-box-7

{
    border: 1px solid  rgb(163, 163, 163);
    width: 23.5%;
    border-radius: 5px;
    background-color:#2CD3E1;
    
}
.abhay
{
   margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text
{
    padding: 20px;
}

/* footer start here */
footer
{
    margin-top: 5px;
    background-color:#181818;
}

footer ul 
{
   
    padding: 0%;
    margin: 0%;
  list-style: none;
 
   
}
footer a
{
text-decoration: none;


}
.boxing ul li a:hover
{
    color:#8758ff;
    /* transition: 0.2s ease; */
}
.boxing h3
{
    color: #8758ff;
}
.con 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
   color:#f2f2f2;
   padding: 50px;
   
}

.con-con-10
{
    text-align: center;
}

.con-10
{
    text-align: center;
    padding: 10px;
}
.con-10 
input[type=text]
{
   color: rgb(0, 0, 0);
    border: none;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;

}

#bit 
{
    border: none;
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    background-color:#8758ff;
    color: white;
    padding: 0px;
    cursor: pointer;
}
#bit:hover
{
    background-color:#dfdfdf;
    color: #8758ff;
    border: 0.5px solid #8758ff;
  
   
}

.con-10 img
{
   
 height: 65px;
 mix-blend-mode: multiply;
}

@media screen and (max-width:913px) {
    .con-10 
    {
        border: 2px solid white;
       
    }
}
.boxing
{
    padding: 10px;
    text-align: center;

}
.boxing ul li {
 padding: 15px;
 
}

.boxing ul li a
{
    color: rgb(255, 255, 255);
   
}

.last
{
   padding: 20px;
   color:#8758ff;
   display: flex;
  align-items: center;
  justify-content: center;
}


.icon-1
{
    display: flex;
   position: relative;
      width: 15%;
      left: 15%;
   justify-content: space-evenly;
   flex-wrap: wrap;
   /* background-color:#f2f2f2 */

}
.icon-2 a{
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    transition-duration: 0.25s;
  color: white;
font-size: 25px;

}
.icon-3 a
{
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    transition-duration: 0.25s;
  color: white;
font-size: 25px;

}
.icon-4 a{
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    transition-duration: 0.25s;
  color: white;
font-size: 25px;

}
.icon-5 a{
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    transition-duration: 0.25s;
  color: white;
font-size: 25px;

}
.icon-2 a:hover
{
   outline-offset: 4px;
   color: rgb(53, 53, 255);
   background-color: white;
}
.icon-3 a:hover
{
   outline-offset: 4px;
   color: rgb(255, 0, 38);
   background-color: white;
}
.icon-4 a:hover
{
   outline-offset: 4px;
   color: rgb(0, 187, 255);
   background-color: white;
}
.icon-5 a:hover
{
   outline-offset: 4px;
   color: rgb(27, 19, 255);
   background-color: white;
}
.icon-2:hover 
{
    animation: shake 0.25s;
}
@keyframes shake{
    10%{
        transform: rotate(20deg);
    }
    20%{
        transform: rotate(-20deg);
    }
    30%{
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(-20deg);
    }
}
.icon-3:hover 
{
    animation: shake 0.25s;
}
@keyframes shake{
    10%{
        transform: rotate(20deg);
    }
    20%{
        transform: rotate(-20deg);
    }
    30%{
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(-20deg);
    }
}
.icon-4:hover 
{
    animation: shake 0.25s;
}
@keyframes shake{
    10%{
        transform: rotate(20deg);
    }
    20%{
        transform: rotate(-20deg);
    }
    30%{
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(-20deg);
    }
}
.icon-5:hover 
{
    animation: shake 0.25s;
}
@keyframes shake{
    10%{
        transform: rotate(20deg);
    }
    20%{
        transform: rotate(-20deg);
    }
    30%{
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(-20deg);
    }
}
/* footer end here */
/* media start here  */
@media only  screen and (max-width:913px){
    .nav {

        background-color: #ffffffb5;
        border: 1px solid rgb(221, 221, 221);
       padding: 0px;
       width: 100%;
       flex-wrap: wrap;
    }

     .container
     {
       
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        color: white;
        
        }
     .nav ul
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav ul li a {
 color: #000000;
 text-decoration: none;
 font-size: 10px;
}
.div_head
{
   flex-wrap: wrap;
   display: flex;
   margin-top: 0px; 
  align-items: center;
  position: relative;
  right: 20px;
  
  
}
.div_head li a {
    margin: 5px;
}

.button-1
 {
    margin-top: 0px;
    position: relative;
    bottom:100px;

 }

 .button-1 button
 {

    cursor: pointer;
    padding: 3px;
    width: 50px;
    border-radius: 20px;
    color: rgb(255, 255, 255) ;
    background-color:#8758ff;
   border: none;
   position: relative;
   left: 5px;
   font-size: 10px;
   top: 0px;
 }

 .nav img
{
    mix-blend-mode: multiply;
    position: relative;
    right: 45px;
    width: 15%;
    bottom: 3px;

}
.con-1 h1
{
    color:#000000;
    font-size: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: 0px;
    line-height: 40px;
    left: 10px;
    width: 150%;
  
}
#mm::before {
    content: 'S';
font-size: 70px;

}

.con-1 p
{
    color: black;
    position: relative;
    bottom: 10px;
    line-height: 12px;
    font-size: 11px;
    left: 10px;
    width: 160%;
    
}
.but button
{
    padding: 9px;
    width: 80px;
    background-color:#8758ff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    bottom: 5px;

    left: 140px;
    
    
}
.con-2 img
{
    display: none;
    }
.con-1
{
    
    width: 55%;
    padding: 0 0 0 10px;
   
   
}
.nav-2
{
 
  display: flex;
  justify-content:space-evenly;
border-radius: 5px;
  padding: 0px;
  flex-wrap: wrap;
}
.nav-2 button
{
  
    padding: 8px;
    border-radius:5px;
    border: 1px solid #ffffff;
    background-color: #dfdfdf;
    color: #8758ff;
    font-size: 10px;
    margin: 5px;

}
.con-3
{
  
    padding: 5px;
    flex-wrap: wrap;
  }
.img-box
{
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
    padding: 5px;
    }
.slide 
{
   display: none;
}
.box-1
{
  
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    background-color: rgba(227, 227, 227, 0.601);
}

.con-4
{
    flex-wrap: wrap;
    padding: 20px;
    display: flex;   
    flex-direction: column;
}
.img-a1
{
    border: 1px solid rgb(210, 210, 210);
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}

.img-a2
{
    border: 1px solid rgb(210, 210, 210);
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}
.img-box-a3
{
    border: 1px solid rgb(210, 210, 210);
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}
.img-a4
{
 border: 1px solid rgb(210, 210, 210);
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}
.img-box-2
{
    width: 20%;
    height: 100%;
    flex-wrap: wrap;
    padding: 4px;
    background-color: rgba(227, 227, 227, 0.601);
    text-align: center;
    margin-top: 20px;
}
.img-box-2 h4
{
    font-size: 8px;
}
.con-7
{
flex-wrap: wrap;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.img-box-3
{
    border: 1px solid #ffffff;
    background-color:#d61355;
    color: white;
    width: 47%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;

}
.img-box-4

{
    border: 1px solid  rgb(163, 163, 163);
    width: 48%;
    border-radius: 5px;
    background-color:#FFB84C;
    
}
.img-box-5

{
    border: 1px solid  rgb(163, 163, 163);
    width: 48%;
    border-radius: 5px;
    background-color:#F266AB;
    
}
.img-box-6

{
    border: 1px solid  rgb(163, 163, 163);
    width: 48%;
    border-radius: 5px;
    background-color:#A459D1;
    margin-top: 20px;
    
}
.img-box-7

{
    border: 1px solid  rgb(163, 163, 163);
    width: 47%;
    border-radius: 5px;
    background-color:#2CD3E1;
    margin-top: 20px;
    
}

}
/* media end here  */