body{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* background-color: rgba(221, 221, 221, 0.752); */
}

/* nav-1 start here */
.nav-1 {
    background-color:transparent;
    padding: 10px;
    }

    .nav-1 li {
        display:inline;
        font-size: 20px;
       
    }
    .nav-1 ul li a 
    {   text-decoration:none;
        color: rgb(255, 255, 255);
  
       
    }
  
    /* nav-1 end here */



    /* nav start here */

    .nav {
     padding: 5px;
     background-color: rgba(221, 221, 221, 0.752);
   
   }
   .nav img
   {
      mix-blend-mode: multiply;
      position:relative;
      /* left: 15px; */
   }
   .nav ul
   {
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       list-style: none;
   }
   
   .nav ul li a {
    color: #6d5200;
    text-decoration: none;
    font-size: 20px;
   
   
   }
   .div_head
   {
      flex-wrap: wrap;
      display: flex;
     
   }
   .div_head li a {
       margin: 20px;
   }
   .logo
   {
       color: #ffb300;
       font-size: 30px;
       justify-content: start;
       display: flex;
       font-weight: 700;
     
      
   }
    .nav-logo {
       background-color: transparent;
    }
    /* nav end here */
.submit{
border: .5px solid #8758ff;
    text-align: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 0% 3% 5% 3%;
    /* padding: 10px; */
    margin-left: 35%;
    margin-top: 3%;
    border-radius: 5px;
    flex-wrap: wrap;
    width: 32%;
      
    
   }
  
   .continue button
   {
    background-color:#8758ff;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    width: 20%;
    border: .5px solid #8758ff;
    color: white;
    
   }
   .continue button a
   {
    border-radius: 2px;
    text-decoration: none;
    margin-top: 20px;
   
   }
   .continue button:hover
  {
    background-color: white;
    border: .5px solid #8758ff;
    color: #8758ff;
    cursor: pointer;
    
  }
  .buttt button
  {
    background-color:#8758ff;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    width: 60%;
    color: white;
    border: .5px solid #8758ff;
   
  }
  .buttt button a
  {
    border-radius: 2px;
    text-decoration: none;
    margin-top: 20px;
  }
  .buttt button:hover
  {
    cursor: pointer;
    background-color: white;
    border: .5px solid #8758ff;
    color: #8758ff;
  }
 
 
  .login {
    padding: 50px;
    font-size: 40px;
    font-size: 60px;
    background: -webkit-linear-gradient(#5b0000, #ab60e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

 }
.policy{
    margin-top: 20px;
    font-size: 13px;
 }
  input[type="password"]
  {
    
    position: relative;
    left: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
    width: 50%;

  }
  input[type="Email"]
  {
    width: 50%;
    position: relative;
    left: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
  }
  .box-0
  {
    /* border-bottom: 2px solid rgb(183, 183, 183); */
   
  }
  #home
  {
  border-radius: 10px;
  position: relative;
  right:50px;
  
  }
  /* .icon 
  {
 
   justify-content: space-evenly;
   display: flex;
   position: relative;
   left: 132px;
    width: 30%;
   font-size: 18px;
  top: 20px;
  flex-wrap: wrap;
  } */

  /*  */

  .iconn-1
{
    display: flex;
    position: relative;
   left: 28%;
   top: 30px;
   width: 45%;
   justify-content: space-between;
   flex-wrap: wrap;


}
.iconn-2 a{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 7px;
    /* display: flex; */
    transition-duration: 0.25s;
  /* color: rgb(255, 255, 255); */
  color: rgb(53, 53, 255);
font-size: 18px;
background-color: rgb(255, 255, 255);

}
.iconn-3 a
{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 7px;
    /* display: flex; */
    transition-duration: 0.25s;
  color: rgb(255, 0, 38);
font-size: 18px;
background-color: rgb(255, 255, 255);

}
.iconn-4 a{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 7px;
    /* display: flex; */
    transition-duration: 0.25s;
  /* color: rgb(255, 255, 255); */
  color: rgb(0, 187, 255);
font-size: 18px;
background-color: rgb(255, 255, 255);

}
.iconn-5 a{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 7px;
    /* display: flex; */
    transition-duration: 0.25s;
  color: rgb(27, 19, 255);
font-size: 18px;
background-color: rgb(255, 255, 255);

}
.iconn-2 a:hover
{
   outline-offset: 4px;
   /* color: rgb(53, 53, 255); */
   color: white;
   background-color: rgb(0, 0, 0);
}
.iconn-3 a:hover
{
   outline-offset: 4px;
   /* color: rgb(255, 0, 38); */
   color: white;
   background-color: rgb(0, 0, 0);
}
.iconn-4 a:hover
{
   outline-offset: 4px;
   /* color: rgb(0, 187, 255); */
   background-color: rgb(0, 0, 0);
   color: white;
}
.iconn-5 a:hover
{
   outline-offset: 4px;
   /* color: rgb(27, 19, 255); */
   background-color: rgb(0, 0, 0);
   color: white;
}
.iconn-2:hover 
{
    animation: shake 0.25s;
}
@keyframes shake{
    10%{
        transform: rotate(20deg);
    }
    20%{
        transform: rotate(-20deg);
    }
    30%{
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(-20deg);
    }
}
.iconn-3:hover 
{
    animation: shake 0.25s;
}
@keyframes shake{
    10%{
        transform: rotate(20deg);
    }
    20%{
        transform: rotate(-20deg);
    }
    30%{
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(-20deg);
    }
}
.iconn-4:hover 
{
    animation: shake 0.25s;
}
@keyframes shake{
    10%{
        transform: rotate(20deg);
    }
    20%{
        transform: rotate(-20deg);
    }
    30%{
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(-20deg);
    }
}
.iconn-5:hover 
{
    animation: shake 0.25s;
}
@keyframes shake{
    10%{
        transform: rotate(20deg);
    }
    20%{
        transform: rotate(-20deg);
    }
    30%{
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(-20deg);
    }
}
  /*  */
  @media only screen and (max-width:913px) {
    .submit{

      width: 94%;
      text-align: center;
      border: 1px solid rgb(0, 0, 0);
      display: inline-block;
      margin-left: 0%;
      margin-top: 2%;
      border-radius: 5px;
        
      
     }
    

     .icon 
     {
    
      justify-content: space-evenly;
      display: flex;
      position: relative;
      left: 120px;
      width: 30%;
      font-size: 20px;
      top: 10px;
      flex-wrap: wrap;  
     }
     .nav{
      display: none;
     }


  }