*{
    box-sizing:border-box;
 
  
  }
  body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding: 10px;
     overflow-x: hidden;
      
  }
 
  .con-1
{
/* border: 2px solid black; */
padding: 10px;
}
.con-1 a
{
    color: black;
}
.con-1 a:hover
{
    color: #8758ff;
}
.con-1 h1
{
    margin: 0;
}
.big-con
{
    /* border: 2px solid red; */
    margin-top: 10px;
    height: 80vh;
    display: flex;
    }

.con-2
{
border: .5px solid rgb(227, 227, 227);
width: 55%;
height: 90%;
background-color: rgba(229, 229, 229, 0.815);
}
.con-2 input
{
    border: none;
}
.login
{
    position: relative;
    left: 20px;
}
.gola-a
{
    border: 1px solid black;
    width: 20px;
    border-radius: 30px;
    text-align: center;
    height: 24px;
}
.gola-a:hover
{
    background-color: #8758ff;
    color: white;
}
#change 
{
   position: relative;
   left: 80%;
   border: none;
   height: 25px;
   background-color: white;
   
}
#change a:hover
{
    color: #8758ff;
}
#change a
{
    text-decoration: none;
    color: black;
}
.nav-2
{
  
    height: 8%;
    padding: 10px;
    display: flex;
    background-color: white;
    margin-top: 10px;
    border-radius: 7px;
    
}
.nav-2 h5
{
    margin: 0;
    position: relative;
    left: 20px;

}
/* form-1 start here */
.form-1
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.first
{
    width: 36%;
}

.first input
{
    width: 100%;
    padding: 13px;
    border-radius: 7px;

}
.last
{
 
    width: 36%;
    position: relative;
    left: 20px;
}
.last input
{
    width: 100%;
    padding: 13px;
    border-radius: 7px;
}
/* form-1 start here */
.form-2
{

    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.address
{

    width: 50%;
    position: relative;

}
.address input
{
    width: 100%;
    padding: 13px;
    border-radius: 7px;
}
.apt
{
   
    width: 36%;
    position: relative;
    left: 20px;
}
.apt input
{
    width: 60%;
    padding: 13px;
    border-radius: 7px;
}

/*  */
.form-3
{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
.city
{
  
    width: 36%;
}
.city input
{
    width: 100%;
    padding: 13px;
    border-radius: 7px;

}
.country
{
    width:36%;
    left: 20px;   
    position: relative;
}
.country select
{
  
  width: 100%;
    padding: 13px;
    border-radius: 7px;
border: none;
background-color: white;
  
}
.con-2 p
{
margin: 1%;
}

.number
{
    width: 38%;
   
    padding: 10px;
}
.number input
{
    width: 99%;
    padding: 13px;
    border-radius: 7px;
}
.form-4
{

    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.form-4 button
{
    padding: 13px;
    border-radius: 7px;
    width: 36%;
    background-color: #8758ff;
    color: white;
    border: none;
    border: 0.5px solid #8758ff;

}
.form-4 button:hover
{
    background-color: #f2f2f2;
    color: #8758ff;
    border: 0.5px solid #8758ff;
}
input[type="reset"]
{
    background-color: #8758ff;
    color: white;
    width: 10%;
    position: relative;
    left: 10px;
    border-radius: 7px;
}
input[type="reset"]:hover
{   
   background-color: white;
   color: #8758ff; 
   border: .5px solid #8758ff ;
}
.form-4 a
{
    text-decoration: none;
    position: relative;
    left: 20px;
    top: 10px;
    color: black;
}
.nav-3
{
    height: 8%;
    padding: 10px;
    display: flex;
    background-color: white;
    border-radius: 7px;
    
}
.nav-3 h5
{
    margin: 0;
    position: relative;
    left: 20px;

}
.con-3
{
  
    border: 2px solid rgb(218, 218, 218);
    height: 90%;
    width: 30%;
    padding: 10px;
    position: relative;
    left: 40px;

}
.con-3 h4
{
    border-bottom: 2px solid rgb(230, 230, 230);
    height: 10%;
}
.img-box
{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(230, 230, 230);
}
.image
{
    width: 25%;

}
.text
{
    width: 65%;
}
.delivery
{
    display: flex;
    justify-content: space-between;
    width:80%;
    height: 50px;
}
.delivery-2
{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 50px;
    border-bottom: 2px solid  rgb(230, 230, 230);
    
}
.delivery-2 h5
{
    position: relative;
    right: 84px;
}
.total
{
display: flex;
justify-content: space-between;
width: 90%;
}
/* media start here */
@media only screen and (max-width:913px){
    .big-con
{
    margin-top: 10px;
    height: 80vh;
 flex-direction: column;
    }
    .big-con input
    {
        padding: 8px;
    }
    
    .con-2
{
border: .5px solid rgb(227, 227, 227);
width: 100%;
height: 100%;
background-color: rgba(229, 229, 229, 0.815);
}
.con-3
{
    border: .5px solid rgb(218, 218, 218);
    height: 90%;
    width: 80%;
    padding: 10px;
    position: relative;
    left: 0px;
    top: 70%;
    }
    .form-4 button
{
    
    width: 60%;
    padding: 8px;
  

}

.country select
{
    padding: 8px;
}


.last{
 position: relative;
    left: 30px;
}
.address input
{
    /* width: 100%; */
}
.payment
{
    width: 100%;
    padding: 10px;
    background-color: rgba(229, 229, 229, 0.892) ;
}

    .butt button
    {
    width: 25%;
    padding: 8px;
    margin-top: 20px;
    border-radius: 7px;
    border: none;
    background-color: #8758ff;
    color: white;
    border: 0.5px solid #8758ff;
    }

}
/* media end here */
@media screen and (min-width:913px) {
    

.payment
{
    width: 55%;
    padding: 10px;
    background-color: rgba(229, 229, 229, 0.892) ;
    position: relative;
    bottom: 58px;

}
.butt button
{
width: 15%;
padding: 10px;
margin-top: 20px;
border-radius: 7px;
border: none;
background-color: #8758ff;
color: white;
border: 0.5px solid #8758ff;
}


}
.butt button:hover
{
    background-color: #f2f2f2;
    color: #8758ff;
    border: 0.5px solid #8758ff;
}
.cc
{
  
    width: 40%;
}
.cc input
{
    padding: 12px;
    width: 50%;
    
  
}
.aa
{

    width: 35%;
}
.aa input
{
    padding: 12px;
    width: 100%;
    border-radius: 7px;
    border: none;
}


.payment select
{
    padding: 12px;
    width: 90%;
    border-radius: 7px;
    border: none;
    background-color: white;

  
}
.card
{
    display: flex;
}
input[type="date"]
{
    width: 90%;
    padding: 12px;
    border-radius: 7px;
    border: none;
}
.cvv input
{
    width: 36%;
    padding: 12px;
    border-radius: 7px;
    border:none;
}

